@charset "utf-8";

/* CSS Document */

ul.ft_people {
	list-style:none !important;
	width:240px;
}
ul.ft_people li {
	margin-left:0;	
}

.ft_toggle {
	display:none;
	padding:0 0 0 5px;
}

.ft_toggle div {
	padding:5px 0;	
	width:210px;
}
.ftperson_bio {
	padding:0 0 0 5px;
}